app = 'app-ancient-sunset-5811'
primary_region = 'iad'

[build]

[deploy]
  release_command = 'echo "Build complete"'

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'rental_tracker_data'
  destination = '/app/backups'
  initial_size = '1gb'
